/* DESKTOP */

@media (min-width: 768px) {

    /* ---------- GERAL ---------- */
    h1, h3 {
        font-size: 200%;
    }

    h2 {
        font-size: 110%;
        margin: 2% 0;
    }

    .btn-padrao {
        padding: 1% 4%;
        font-size: 115%;
    }

    /* ---------- NAV ---------- */
    nav {
        min-height: 12vh;
        display: flex;
    }

    .navegacao {
        width: 80%;
        justify-content: space-around;
    }

    .navegacao .logo img{
        max-width: 350px;
    }
    
    .navegacao__itens {
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }
    
    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .navegacao__itens li {
        font-size: 84%;
        padding: 0 2% 0;
    }
    
    .navegacao__menu-hamburguer {
        display: none;
    }

    .icon-menu:before {
        content: "\1f32b";
      }

    /* ---------- HEADER ---------- */
    header {
        height: 56vh;
        position: relative;
        align-items: left;
        text-align: left;
        padding: 5% 10%;
    }

    .principal {
        position: absolute;
        bottom: 10%;
        width: 70%;
    }

/* ---------- SECTION MARAVILHOSAS ---------- */
    .maravilhosas {
        padding: 1% 0;
        width: 70%;
    }

    .maravilhosas > div {
        width: 20%;
    }

/* ---------- FOOTER ---------- */
    .rodape__principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }

    .rodape__principal li {
        margin: 2% 0;
    }

    .rodape__principal .logo img {
        width: 70%;
    }
    .rodape__principal__facebook img {
        width: 7%;
    }

    /* ************************PÃGINA PERFIL**************************** */

    /* ---------- OUTRA HEADER ---------- */
    .why-header {
        padding: 0 20%;
        display: flex;
        min-height: 55vh;
        align-items: center;
    }

    .why-header h1 {
        font-size: 430%;
        text-align: center;
    }

    /* ---------- PERFIL DIVA ---------- */

    .diva {
        min-height: 100vh;
        padding: 0;
        width: 60%;
    }


    .diva article {
        padding-top: 5%;
    }
    .diva__introducao {
        font-size: 125%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }

    .diva__introducao__foto {
        width: 25%;
    }

    .diva__introducao__texto {
        width: 65%;
    }

    .diva p, .diva__historia p {
        font-size: 130%;
    }

    .diva__frase-impacto {
        font-size: 150%;
        /* margin: 5%; */
    }

    .diva__historia {
        padding: 5% 0;
        min-height: 100vh;
    }

    .diva__historia h3 {
        margin-bottom: 0;
    }

    .diva__historia > div {
        padding: 1% 0;
        font-size: 110%;
    }

    .diva__historia__foto-grandehistoria {
        height: 42vh;
        margin: 0;
    }

    /* ---------- AUTORA ---------- */
    .autora {
        min-height: 40vh;
    }
    .autora > div {
        width: 80%;
        justify-content: center;
    }

    .autora__foto {
        width: 15%; 
    }

    .autora__dados {
        font-size: 120%;
        font-weight: bold;
        margin: 0 5%;
    }

    .autora p {
        padding: 1% 0;
    }

}