/* ---------- MOBILE FIRST - iPhone 7 - width<768px ---------- */
/* ---------- INDEX ---------- */
/* ---------- GERAL ---------- */
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    -webkit-padding-start: 0;
}

body, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 250%;
    font-weight: 900;
}

h2 {
    font-weight: normal;
    margin: 7% 0;
    font-size: 100%;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #63458a;
    margin: 2%;
    text-align: center;
}

.btn-padrao {
    background-color: #C083B9;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3% 5%;
    border-radius: 5px;
}

.btn-padrao--center {
    text-align: center;
    padding: 10% 0;
}

/* ---------- NAV ---------- */
nav {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px black;
}

nav .logo {
    width: 50%;
}

nav .logo img {
    width: 100%;
}

.navegacao {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.navegacao__itens {
    display: none;
}

.navegacao__menu-hamburguer img {
    background-color: #C083B9;
    border-radius: 5px;
}


/* ---------- HEADER ---------- */
header {
    min-height: 48vh;
    background: url(../img/bg-banner-claro.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5% 0;
}

.principal {
    width: 80%;
    margin: 0 auto;
}

.principal__titulo {
    font-size: 150%;
}

/* ---------- SECTION MARAVILHOSAS ---------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    margin: 0 auto;
}

.maravilhosas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 85%;
}

.maravilhosas p {
    color: #63458a;
    margin: 0;
}

.maravilhosas__perfil {
    width: 40%;
    margin: 3%;
}

.maravilhosas__perfil img {
    width: 100%;
    background-color: #63458a;
    border-radius: 10px;
    object-fit: contain;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #323534;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.rodape__principal {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.rodape__principal li {
    font-size: 120%;
    margin: 10% 0;
}

.rodape__principal .logo img {
    width: 100%;
}

.rodape__principal__facebook a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape__principal__facebook img {
    width: 10%;

}

.rodape__principal__facebook span {
    display: flex;
    font-size: 120%;
}

.rodape__feito-com-amor {
    width: 100%;
    background-color: #292A2A;
    font-size: 85%;
    opacity: 0.5;
    text-align: center;
}

/* ************************PÃGINA PERFIL**************************** */
/* ---------- OUTRA HEADER ---------- */
 .why-header {
    display: flex;
    min-height: 30vh;
    background: url(../img/bg-banner-escuro.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: flex-end;
}

.why-header {
    min-height: 50vh;
    justify-content: flex-end;
}

.why-header h1 {
    width: 80%;
    padding: 1% 0;
}

/* ---------- PEFIL DIVA---------- */
.diva {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    margin: 0 auto;
}

.diva p {
    color: #63458a;
    margin: 1.5% 0;
    text-align: left;
}

.diva__introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    margin: 0 auto;
}

.diva__introducao__foto {
    width: 50%;
    margin: 2%;
    background-color: #63458a;
}

.diva__introducao__foto img {
    width: 100%;
    object-fit: contain;
}

.diva__frase-impacto {
    font-weight: bold;
    border: solid;
    border-color: #63458a;
    border-width: 1px;
    margin: 1% 0;
}

.diva__frase-impacto p {
    text-align: center;
    padding: 3%;
    font-size: 110%;
}

.diva__historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.diva__historia h3 {
    width: 80%;
    text-align: left;
}

.diva__historia > div {
    width: 100%;
}

.diva__historia__foto-grande {
    height: 28vh;
    margin: 1% 0;
    background: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

/* ---------- AUTORA ---------- */
.autora {
    background-color: #e4b7e5;
    min-height: 20vh;
    display: flex;
    justify-content: center;
}

.autora > div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.autora__foto {
    width: 25%; 
}

.autora__foto img {
    width: 100%;
    object-fit: contain;
}

.autora__dados {
    font-size: 80%;
}

.autora p {
    margin: 0;
    color: #63458a;
}

.autora a {
    font-style: italic;
    text-decoration: underline;
    color: #63458a;
}